@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");
@import url("https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css");

* {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #ffffff;
}

.center {
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #4180ab
}

label {
  font-weight: 400;
  color: #ffffff;
}

.div-cotizador {
  margin: auto;
  max-width: 900px;
  background-color: #4180ab;
  padding: 10px;
  border-color: #ffffff;
  box-shadow: 26px 28px 15px -8px #bdd1de;
  border-radius: 1rem;
}

th {
  text-align: center;
  color: #ffffff;
}

td {
  text-align: center;
  color: rgb(255, 255, 255);
}

div.historial {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 10px;
  border-radius: 30px;
  width: 180px;
}

h2 {
  color: #bdd1de;
  font-weight: bold;
}

#botoneshistorial {
  font-size: x-large;
  cursor: pointer;
}

div.historial span {
  text-align: center !important;
  font-size: x-large;
}

select,
input {
  min-width: 50% !important;
  width: 70% !important;
}

.separador {
  margin: 15px;
}

.importe {
  color: #ffffff;
  font-size: x-large;
  font-weight: 500;
}

.guardar {
  margin-left: 20px;
  font-size: xx-large;
  cursor: pointer;
}

.ocultar {
  display: none;
}

button {
  background-color: #e4ebf0;
  color: #4180ab;
  border: 2px solid #8ab3cf;
}

button:hover {
  color: #4180ab !important;
  background-color: #bdd1de !important;
}

button:active {
  background-color: #bdd1de !important;
}

html {
  min-height: 100%;
  background-color: #e4ebf0;

}